body {
  margin: 0;
  padding: 0;
  font-family: Impact, Charcoal, sans-serif;
  
}

#stage {
position: absolute;
}

.header {
  position: relative;
  margin: 0 auto;
  width: 781px;
  background: transparent;
  background-image: url("img/all.png");
  height: 690px;
  z-index: 2;
}

.header5 {
  position: relative;
  margin: 0 auto;
  width: 781px;
  background: transparent;
  background-image: url("img/all5.png");
  height: 690px;
  z-index: 2;
}

.bet {
  position: relative;
  bottom: 218px;
  
}

.coins {
  position: relative;
  bottom: 165px;
}

.description {
  position: relative;
  color: gold;
  font-size: 22px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index: 3;
}

.info {
  position: relative;
  bottom: 284px;
  float: left;
  left: 60px;
}

.value {
  position: relative;
  color: #fff9d7;
  font-size: 22px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  bottom: 4px;

  z-index: 3;
}

.go {
  position: relative;
  width: 80px;
  height: 40px;
  opacity: 0%;
  bottom: 51px;
  z-index: 101;
}

.betUp {
  position: relative;
  height: 40px;
  width: 40px;
  opacity: 0%;
  float: left;
  bottom: 92px;
  right: 330px;
  z-index: 3;
}

.allIn {
  position: relative;
  height: 40px;
  width: 40px;
  opacity: 00%;
  float: left;
  right: 286px;
  bottom: 92px;
  z-index: 3;
}

#rotate {
  position: relative;
  bottom: 355px;
  left: 175px;
}

.ring {
  position: relative;
  margin: 0 auto;
  height: 70px;
  width: 146px;
  float: left;
  transform-style: preserve-3d;

}
.ring5 {
  position: relative;
  margin: 0 auto;
  height: 120px;
  width: 85px;
  float: left;
  transform-style: preserve-3d;

}
.slot {
  position: absolute;
  width: 130px;
  height: 70px;
  box-sizing: border-box;
  background-color: #fff9d7;
  
  opacity: 0.9;
  color: rgba(0,0,0,0.9);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slot5 {
  position: absolute;
  width: 85px;
  height: 120px;
  box-sizing: border-box;
  background-color: #fff9d7;
  
  opacity: 0.9;
  color: rgba(0,0,0,0.9);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.backface-on {
  -webkit-backface-visibility: visible;
     -moz-backface-visibility: visible;
          backface-visibility: visible;
}

.slot p {
  font-size: 36px;
  font-weight: bold;
  line-height: 90px;
  margin: 0;
  text-align: center;
}

.slot5 p {
  font-size: 36px;
  font-weight: bold;
  line-height: 90px;
  margin: 0;
  text-align: center;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 45%;
  text-align: center;
}

.winner1 {
  background: radial-gradient(circle, rgba(255,249,215,1) 9%, rgba(221,198,121,1) 30%, rgba(255,249,215,1) 45%);
}
.winner2 {
  background: radial-gradient(circle, rgba(255,249,215,1) 32%, rgba(237,215,142,1) 50%, rgba(255,249,215,1) 85%);
  background-image: url("https://.imgur.com/1bS67lm.gif");
}

.tilted {
  transform: rotateY(45deg);
}
/*=====*/
.spin-0     { transform: rotateX(-3719deg); }
.spin-1     { transform: rotateX(-3731deg); }
.spin-2     { transform: rotateX(-3743deg); }
.spin-3     { transform: rotateX(-3755deg); }
.spin-4     { transform: rotateX(-3767deg); }
.spin-5     { transform: rotateX(-3779deg); }
.spin-6     { transform: rotateX(-3791deg); }
.spin-7     { transform: rotateX(-3803deg); }
.spin-8     { transform: rotateX(-3815deg); }
.spin-9     { transform: rotateX(-3827deg); }
.spin-10    { transform: rotateX(-3839deg); }
.spin-11    { transform: rotateX(-3851deg); }
.spin-12    { transform: rotateX(-3863deg); }
.spin-13    { transform: rotateX(-3875deg); }
.spin-14    { transform: rotateX(-3887deg); }
.spin-15    { transform: rotateX(-3899deg); }
.spin-16    { transform: rotateX(-3911deg); }
.spin-17    { transform: rotateX(-3923deg); }
.spin-18    { transform: rotateX(-3935deg); }
.spin-19    { transform: rotateX(-3947deg); }
.spin-20    { transform: rotateX(-3959deg); }
.spin-21    { transform: rotateX(-3971deg); }
.spin-22    { transform: rotateX(-3983deg); }
.spin-23    { transform: rotateX(-3995deg); }
.spin-24    { transform: rotateX(-4007deg); }
.spin-25    { transform: rotateX(-4019deg); }
.spin-26    { transform: rotateX(-4031deg); }
.spin-27    { transform: rotateX(-4043deg); }
.spin-28    { transform: rotateX(-4055deg); }
.spin-29    { transform: rotateX(-4067deg); }
/*=====*/
@keyframes back-spin {
    /*0%    { transform: rotateX(0deg); }*/
    100%  { transform: rotateX(30deg); }
}
@keyframes tiltin {
    0%    { transform: rotateY(0deg);}
    50%   { transform: rotateY(0deg);}
    100%  { transform: rotateY(45deg);}
}
@keyframes tiltout {
    0%    { transform: rotateY(45deg);}
    100%  { transform: rotateY(0deg);}
}

@keyframes spin-0 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3719deg); }
}
@keyframes spin-1 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3731deg); }
}
@keyframes spin-2 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3743deg); }
}
@keyframes spin-3 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3755deg); }
}
@keyframes spin-4 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3767deg); }
}
@keyframes spin-5 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3779deg); }
}
@keyframes spin-6 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3791deg); }
}
@keyframes spin-7 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3803deg); }
}
@keyframes spin-8 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3815deg); }
}
@keyframes spin-9 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3827deg); }
}
@keyframes spin-10 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-3839deg); }
}
@keyframes spin-11 {
0%    { transform: rotateX(30deg); }
100%  { transform: rotateX(-3851deg); }
}
@keyframes spin-12 {
0%    { transform: rotateX(30deg); }
100%  { transform: rotateX(-3863deg); }
}
@keyframes spin-13 {
0%    { transform: rotateX(30deg); }
100%  { transform: rotateX(-3875deg); }
}
@keyframes spin-14 {
0%    { transform: rotateX(30deg); }
100%  { transform: rotateX(-3887deg); }
}
@keyframes spin-15 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3899deg); }
}
@keyframes spin-16 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3911deg); }
}
@keyframes spin-17 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3923deg); }
}
@keyframes spin-18 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3935deg); }
}
@keyframes spin-19 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3947deg); }
}
@keyframes spin-20 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3959deg); }
}
@keyframes spin-21 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3971deg); }
}
@keyframes spin-22 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3983deg); }
}
@keyframes spin-23 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-3995deg); }
}
@keyframes spin-24 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-4007deg); }
}
@keyframes spin-25 {
    0%    { transform: rotateX(30deg); }
    100%  { transform: rotateX(-4019deg); }
}
@keyframes spin-26 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-4031deg); }
}
@keyframes spin-27 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-4043deg); }
}
@keyframes spin-28 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-4055deg); }
}
@keyframes spin-29 {
  0%    { transform: rotateX(30deg); }
  100%  { transform: rotateX(-4067deg); }
}



